
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

#main {
    background-color: #eee;
    height: auto;
    border-radius: 5px;
    padding-bottom: 10px;
}

h1 {
    padding-top: 60px;
    font-size: 40px;
}

p {
    padding-bottom: 20px;
}

#img-div {
    background-color: white;
    height: auto;
    width: 99%;
    margin-left: 8px; 
    padding-bottom: 13px;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto 15px;
}

#headline {
    margin: 40px 0 40px;
    font-size: 20px
}

ul {
    text-align: left;
    max-width: 550px;
    line-height: 1.6;
    margin: 0 auto 50px auto;
}

li {
    margin-bottom: 20px;
}

blockquote {
    max-width: 550px;
    text-align: left;
    margin: 0 auto;
    font-style: italic;
}

span {
    display: block;
    margin: 30px 0 35px
}
